.App {
  margin: auto;
  padding: 1em;
  width: 25em;
  border: 2px solid black;
}
.App select, label{
  margin-left: 1em;
}
.post{
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
.post-type{
  display: flex;
  flex-direction: column;
}
.like-button:focus{
  background-color: black;
  color: white;
}
.comment{
  border: 1px solid black;
  padding-bottom: 0.5em;
}